<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="shared/header :: header-css"/>

    <title>Moje zamowienia</title>
</head>
<body class="card">
<div th:replace="shared/header :: header('mojeZamowienia')"/>

<H1>Moje zamówienia</H1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Przedmiot</th>
        <th>Ilosc</th>
        <th>Cena</th>
        <th>Status</th>

    </tr>
    </thead>
    <tbody>
    <!--<tr th:each="zam : ${zamowienia}">-->


        <!--<td th:text="${zam.status}"></td>-->
        <!--<td>ilosc</td>-->
        <!--<td>cena</td>-->
        <!--<td>status</td>-->

    <!--</tr>-->

    </tbody>
</table>
<div th:each="zal : ${zalogowany}">
    <div th:text="${zal.id}"></div>
    <div th:text="${zal.name}"></div>
    <div th:text="${zal.surname}"></div>
    <div th:text="${zal.email}"></div>
</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>