<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>

    <title>Lista Użytkowników</title>
</head>
<body class="card">
<div th:replace="shared/header :: header('mojeKonto')"/>



<div id="main" class="container">
    <H1>Informacje o koncie:</H1>
    Imie: <b th:text="${zalogowany.name}"></b><br/>
    Nazwisko: <b th:text="${zalogowany.surname}"></b><br/>
    Email: <b th:text="${zalogowany.email}"></b><br/>
    Data rejestracji: <b th:text="${#dates.format(zalogowany.dataRejestracji, 'dd-MM-yyyy')}"></b><br/>

    <a class="btn btn-success" href="/produktList.html">Edytuj</a>
</div>


<div th:replace="shared/footer :: footer"></div>
</body>
</html>